{% extends 'base.html' %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div>
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="adicionar">
        <a href="/feedbacks/add">Adicionar</a>
    </div>
    <table>
        <tr>
            <th>Comentario</th>
            <th>Data</th>
            <th>Cliente</th>
            <th>Editar</th>
            <th>Remover</th>
        </tr>
        {% for f in feedbacks %}
        <tr>
            <td>{{f.comentario}}</td>
            <td>{{f.data}}</td>
            <td>{{f.cliente.nome}}</td>
            <td><a href="/feedbacks/edit/{{f.id_feedback}}">[E]</a></td>
            <td><a href="/feedbacks/remove/{{f.id_feedback}}">[X]</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}