{% extends 'base.html' %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div>
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <form action="/feedbacks/save" method="post">
        <div>
            <label for="comentario">Comentario: </label>
            <input type="text" name="comentario" id="comentario">
        </div>
        <div>
            <label for="data">Data: </label>
            <input type="date" name="data" id="data">
        </div>
        <div>
            <label for="cliente">Cliente: </label>
            <select name="id_cliente" id="cliente">
                <option value=""></option>
                {% for c in cliente %}
                <option value="{{c.id_cliente}}">{{c.nome}}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit">Salvar</button>
    </form>
{% endblock %}